@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  @apply overflow-hidden;
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.card-icon {
  border-radius: 6px;
  border: 1px solid #2e2e2e;
  background: linear-gradient(
      229deg,
      rgba(158, 255, 0, 0.2) -68.25%,
      rgba(158, 255, 0, 0) 32.16%
    ),
    linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
}
